# Pandas

In [2]:
#install the below if excel is not working
%pip install pandas

Note: you may need to restart the kernel to use updated packages.

'c:\Users\Esther' is not recognized as an internal or external command,
operable program or batch file.

In [3]:
#Import pandas and numpy
import pandas as pd
import numpy as np # used for mathematical computation # built on top of pandas

Data stractures used in pandas
1. pandas series
2. pandas data Frame

In [7]:
#Create a list and convert it to pandas series
list1 = [3, 6, 9]
type(list1)

ser1 = pd.Series(list1)
type(ser1)

pandas.core.series.Series

In [11]:
data = [("blue", 3), ("green", 6), ("yellow", 9)]
df = pd.DataFrame(data, columns=("color", "lines"))
df

    color  lines
0    blue      3
1   green      6
2  yellow      9

In [9]:
list2 = [5, 7, 10]

In [8]:
data = [('Boat', 5), ('Car', 7), ('Ship', 10)]
df = pd. DataFrame(data, columns=('Item', 'Price'))
df

   Item  Price
0  Boat      5
1   Car      7
2  Ship     10

## Reading from files

In [15]:
#Loading the dataset #excel dataset
data = pd.read_excel("Sample Superstore.xlsx")

In [17]:
data.head()

,Row ID,Order Priority,Discount,Unit Price,Shipping Cost,Customer ID,Customer Name,Ship Mode,Customer Segment,Product Category,...,Region,State or Province,City,Postal Code,Order Date,Ship Date,Profit,Quantity ordered new,Sales,Order ID
0,18606,Not Specified,0.01,2.88,0.50,2,Janice Fletcher,Regular Air,Corporate,Office Supplies,...,Central,Illinois,Addison,60101,2012-05-28,2012-05-30,1.3200,2,5.90,88525
1,20847,High,0.01,2.84,0.93,3,Bonnie Potter,Express Air,Corporate,Office Supplies,...,West,Washington,Anacortes,98221,2010-07-07,2010-07-08,4.5600,4,13.01,88522
2,23086,Not Specified,0.03,6.68,6.15,3,Bonnie Potter,Express Air,Corporate,Office Supplies,...,West,Washington,Anacortes,98221,2011-07-27,2011-07-28,-47.6400,7,49.92,88523
3,23087,Not Specified,0.01,5.68,3.60,3,Bonnie Potter,Regular Air,Corporate,Office Supplies,...,West,Washington,Anacortes,98221,2011-07-27,2011-07-28,-30.5100,7,41.64,88523
4,23088,Not Specified,0.00,205.99,2.50,3,Bonnie Potter,Express Air,Corporate,Technology,...,West,Washington,Anacortes,98221,2011-07-27,2011-07-27,998.2023,8,1446.67,88523

## Writing to files

In [28]:
#saving the file to csv # use to_csv() and set index = False

## Dataframe basics

In [18]:
#setting the default data view # pd.set_option("display.max_columns", 500)
pd.set_option("display.max_column",500)

In [19]:
#Displaying the top 3 rows # use head()
data.head()

,Row ID,Order Priority,Discount,Unit Price,Shipping Cost,Customer ID,Customer Name,Ship Mode,Customer Segment,Product Category,Product Sub-Category,Product Container,Product Name,Product Base Margin,Region,State or Province,City,Postal Code,Order Date,Ship Date,Profit,Quantity ordered new,Sales,Order ID
0,18606,Not Specified,0.01,2.88,0.50,2,Janice Fletcher,Regular Air,Corporate,Office Supplies,Labels,Small Box,Avery 49,0.36,Central,Illinois,Addison,60101,2012-05-28,2012-05-30,1.3200,2,5.90,88525
1,20847,High,0.01,2.84,0.93,3,Bonnie Potter,Express Air,Corporate,Office Supplies,Pens & Art Supplies,Wrap Bag,SANFORD Liquid Accent™ Tank-Style Highlighters,0.54,West,Washington,Anacortes,98221,2010-07-07,2010-07-08,4.5600,4,13.01,88522
2,23086,Not Specified,0.03,6.68,6.15,3,Bonnie Potter,Express Air,Corporate,Office Supplies,Paper,Small Box,Xerox 1968,0.37,West,Washington,Anacortes,98221,2011-07-27,2011-07-28,-47.6400,7,49.92,88523
3,23087,Not Specified,0.01,5.68,3.60,3,Bonnie Potter,Regular Air,Corporate,Office Supplies,"Scissors, Rulers and Trimmers",Small Pack,Acme® Preferred Stainless Steel Scissors,0.56,West,Washington,Anacortes,98221,2011-07-27,2011-07-28,-30.5100,7,41.64,88523
4,23088,Not Specified,0.00,205.99,2.50,3,Bonnie Potter,Express Air,Corporate,Technology,Telephones and Communication,Small Box,V70,0.59,West,Washington,Anacortes,98221,2011-07-27,2011-07-27,998.2023,8,1446.67,88523

In [20]:
#Displaying the last 3 rows # use tail()
data.tail()

,Row ID,Order Priority,Discount,Unit Price,Shipping Cost,Customer ID,Customer Name,Ship Mode,Customer Segment,Product Category,Product Sub-Category,Product Container,Product Name,Product Base Margin,Region,State or Province,City,Postal Code,Order Date,Ship Date,Profit,Quantity ordered new,Sales,Order ID
9421,20275,Critical,0.06,35.89,14.72,3402,Frederick Cole,Regular Air,Consumer,Office Supplies,Envelopes,Small Box,Jet-Pak Recycled Peel 'N' Seal Padded Mailers,0.40,East,West Virginia,Charleston,25314,2013-05-14,2013-05-15,137.860000,13,447.87,87532
9422,20276,Critical,0.00,3.34,7.49,3402,Frederick Cole,Regular Air,Consumer,Office Supplies,Pens & Art Supplies,Wrap Bag,"Eldon Spacemaker® Box, Quick-Snap Lid, Clear",0.54,East,West Virginia,Charleston,25314,2013-05-14,2013-05-14,-39.070000,3,13.23,87532
9423,24491,Not Specified,0.08,550.98,45.70,3402,Frederick Cole,Delivery Truck,Consumer,Furniture,Tables,Jumbo Box,Chromcraft Bull-Nose Wood Oval Conference Tabl...,0.71,East,West Virginia,Charleston,25314,2013-09-12,2013-09-14,-1225.029097,4,2215.93,87533
9424,25914,High,0.10,105.98,13.99,3403,Tammy Buckley,Express Air,Consumer,Furniture,Office Furnishings,Medium Box,"Tenex 46"" x 60"" Computer Anti-Static Chairmat,...",0.65,West,Wyoming,Cheyenne,82001,2010-02-08,2010-02-11,349.485000,5,506.50,87530
9425,24492,Not Specified,0.09,7.78,2.50,3403,Tammy Buckley,Express Air,Consumer,Office Supplies,Envelopes,Small Box,Staples #10 Colored Envelopes,0.38,West,Wyoming,Cheyenne,82001,2013-09-12,2013-09-14,78.062400,23,172.48,87533

In [23]:
#Displaying 3 random rows #use sample()
data.sample(6)

,Row ID,Order Priority,Discount,Unit Price,Shipping Cost,Customer ID,Customer Name,Ship Mode,Customer Segment,Product Category,Product Sub-Category,Product Container,Product Name,Product Base Margin,Region,State or Province,City,Postal Code,Order Date,Ship Date,Profit,Quantity ordered new,Sales,Order ID
9235,22472,Low,0.09,159.31,60.00,3345,Luis Lang Rowe,Delivery Truck,Home Office,Furniture,Tables,Jumbo Drum,Hon Non-Folding Utility Tables,0.55,Central,Michigan,Roseville,48066,2011-09-06,2011-09-10,-265.122,14,2077.90,89930
7552,24412,Medium,0.05,12.21,4.81,2753,Jane Freeman,Regular Air,Consumer,Office Supplies,Storage & Organization,Small Box,Portable Personal File Box,0.58,South,Florida,Plant City,33566,2013-09-23,2013-09-24,-20.090,23,282.70,91512
1924,25734,Critical,0.07,2.84,0.93,711,Pam Anthony,Regular Air,Consumer,Office Supplies,Pens & Art Supplies,Wrap Bag,SANFORD Liquid Accent™ Tank-Style Highlighters,0.54,East,Massachusetts,Winthrop,2152,2010-06-06,2010-06-08,3.852,15,40.37,87978
7726,21049,Not Specified,0.00,8.14,3.12,2825,Carole Rosen,Regular Air,Consumer,Office Supplies,Pens & Art Supplies,Wrap Bag,Avery Hi-Liter® EverBold™ Pen Style Fluorescen...,0.45,West,Idaho,Boise,83701,2011-09-12,2011-09-13,56.750,21,175.78,89498
4021,18530,Medium,0.01,100.98,15.66,1507,Bonnie Hampton,Delivery Truck,Small Business,Office Supplies,Appliances,Jumbo Drum,Avanti 1.7 Cu. Ft. Refrigerator,0.57,East,Ohio,Euclid,44117,2011-12-07,2011-12-09,-50.025,1,107.19,88379
4406,19649,Not Specified,0.08,6.48,7.03,1660,Keith Liu Duncan,Regular Air,Small Business,Office Supplies,Paper,Small Box,Xerox 214,0.37,Central,Texas,Mesquite,75150,2011-02-24,2011-02-25,-52.550,4,27.15,90127

In [26]:
#checking the columns # use columns attribute
data.columns

Index(['Row ID', 'Order Priority', 'Discount', 'Unit Price', 'Shipping Cost',
       'Customer ID', 'Customer Name', 'Ship Mode', 'Customer Segment',
       'Product Category', 'Product Sub-Category', 'Product Container',
       'Product Name', 'Product Base Margin', 'Region', 'State or Province',
       'City', 'Postal Code', 'Order Date', 'Ship Date', 'Profit',
       'Quantity ordered new', 'Sales', 'Order ID'],
      dtype='object')

In [27]:
#checking the index # use df.index
data.index

RangeIndex(start=0, stop=9426, step=1)

## Dataframe summary

In [ ]:
#Checking the data Summary # use info(), we can also use info(verbose=False)

In [12]:
#Checking concise Descriptive statistics for numerical variables# use df.describe()

In [ ]:
#Checking concise Descriptive statistics for categorical variables# use df['col'].describe()

In [ ]:
#checking the number of variables and records, use df.shape,   or len(df)

## Subsetting Columns

This is the act of selecting  a few columns from the entire dataframe.

In [ ]:
#selcting the specific columns# use df[['col1', 'col2', 'col3']] e.g. selsct Order Date, Product Date, and ship mode

In [ ]:
# we can use slicing as well e.g. df[df.columns[:5]]

In [ ]:
#Using list comprehnsion e.g df[[c for c in df.columns]]
df[[c for c in df.columns]]

## Select dtypes

In [ ]:
# Selecting the numerical variables use df.select_dtypes(), include what you want to select as an argument
df.select_dtypes(include='int')# you can change int to object and rerun the code.

## Select as series vs dataframe

In [ ]:
#checking the series, use df['Col name']

In [ ]:
#making the above as a dataframe , use df[['col name']]

## loc and iloc

We can use loc(variable location), and iloc(index location) to access the variables as well

### iloc

In [ ]:
df.head(3)

In [ ]:
# getting the value using iloc e.g df.iloc[1, 1]
df.iloc[2,2]

0.03

In [ ]:
#slicing e.g df.iloc[:5, :5]

In [ ]:
#Getting specific row e.g df.iloc[5], we can present our result in dataframe formart as well

In [ ]:
#Checking the index 1 columns e.g df.iloc[:, 1]

In [ ]:
#getting index 1 and 2 columns, e.g  df.iloc[:, [1, 2]]

Loc

we use loc when we want to select the variable by the name

In [ ]:
#subsetting  2 columns df.loc[:, ['col1', 'col2']]
df.loc[:, ['Discount', 'Sales']]

#### loc filter expressions

we can use loc filter to get specific records

In [ ]:
#Get the records of a specific value e.g  df.loc[df['Region'] == 'West']
df.loc[df['Region']=='West']

In [ ]:
#we can use loc to get records of more than one specific variables
df.loc[(df['Product Category'] == 'Furniture') & (df['Order Date'] == '2010-07-07')]

In [ ]:
#we can use tilde(~) to get the records of those not represented in the code
df.loc[~((df['Product Category'] == 'Furniture') & (df['Order Date'] == '2010-07-07'))]

## query

Query method is another way of getting specific records

In [30]:
#getting specific records e.g df.query('Sales >200 and Region == "West"')

In [ ]:
df.query('Sales > @min_Sale and (Region == "West")')

In [ ]:
#Another different way of using query method
#min_sale = 600
#df.query('Sales > @min_Sale and (Region == "West")')
#----------------------------------------------
min_Sale = 600
query_expression = 'Sales > {} and (Region == "West")'.format(min_Sale)
df.query(query_expression)

## Summary Statistics

This is when we want to infer or get more information on the variable performance

In [ ]:
#we can use min, max, mean, std, and quantile

1.32

In [ ]:
#max

100119.16

In [ ]:
#mean

In [ ]:
#std

In [ ]:
#Quantile   df['Sales'].quantile(.25)

## agg

This is used when we need to get summary statistics of more than 1 at ago.

In [ ]:
# Getting  min, mean, max of 3 variables('Sales','Discount', 'Profit'), use  df[['col1','col2', 'col3']].agg(['mean', 'min', 'max'])

In [ ]:
#another way of doing the above

df[['Sales','Discount', 'Profit']].agg(
    {
        'Sales': ['min', 'max'],
        'Discount': ['mean'],
        'Profit': ['min', 'max']
    }
)

## Summarize categoricals

we use different way to categorize categorical variables

In [ ]:
#use unique to see the unique values in the variable, use  df['col'].unique()
df['Region'].unique()

In [ ]:
#nunique is used to get the number, use  df['col'].nunique()
df['Region'].nunique()

In [ ]:
#Value count is used to get the number of occurances use df['col'].value_counts()
df[['Product Category']].value_counts()

In [ ]:
# valuse counts for 2 variable, return dataframe  df[['col1', 'col2']].value_counts()
df[['Product Category','Region']].value_counts()

In [ ]:
# we use reset index so that the result starts from index zero use df[['col1', 'col2']].value_counts().reset_index()

## shift, cumsum

In [ ]:
#cumsum

In [ ]:
#shift is commonly used in time series , use df[['col']].shift(1)

In [ ]:
#shift last value df[['col']].shift(-1)

In [ ]:
#fill up the shitfed value, use df[['col']].shift(3, fill_value=100)
df[['Sales']].shift(1, fill_value= 00)

In [ ]:
#summing up the sum values, use df[['col']].cumsum()
df[['Sales']].cumsum()

In [ ]:
#we can also do cummax, and cummin

## Rolling methods

In [ ]:
#using Rolling, usse df[['col']].rolling(window=5).mean()
df[['Sales']].rolling(window=3).mean()

## Groupby

This is used when we want to summarize categorical features based on a certain numerical variable

In [ ]:
# use groupby, use df.groupby('cat_col')[['num_coll']].mean(), e.g region and sales

In [ ]:
#Using agg() together with groupby e.g df.groupby('cta_col')[['num_col']].agg(['mean', 'min', 'max'])

In [ ]:
#combining two numerical columns

## New columns

In [ ]:
df.head()

In [ ]:
#ctreating a new column,  e.g df['new_col'] = df['coln'] - df['coln2']

In [ ]:
#Another way of creating new column using assign method, use df=df.assign(colname=expression)
#creating new column using .assign()
#df=df.assign(col_2=df["Profit"]/0.3)

## Sorting

This is a way of ordering the values either in ascending or descending order

In [ ]:
#sort values use  df.sort_values('col'), we can apply argument ascending= False to get the result in descending order
#df.sort_values('Region', ascending=False)

In [ ]:
#resetting the index, use df[['col1', 'col2', 'col3']].sort_values('col3', ascending=False).reset_index(drop=True)
#df[['Region',"Product Name","Sales"]].sort_values("Sales", ascending=False)

## Missing data

This is how we can check and fix null values

In [ ]:
#checking missing values, use df.isna(), add .sum()a better result

In [ ]:
#fixing the null values  by dropping the rows df.dropna(subset=['col with missing value']), or just df.dropna() for entire dataframe

In [ ]:
#filling up the missing value with specific value, use df[['col1', 'col2', 'col3']].fillna(0)

In [ ]:
#Filling with the mean of the column, use df['col1'].fillna(df['col1'].mean())

## Concat

concat is used when all the variables as similar

In [ ]:
# create 2 dataframe
#df1 = df.query('Region == "West"').copy()
#df2 = df.query('Region == "East"').copy()

In [ ]:
#concat, use pd.concat([df1, df2])

In [ ]:
#we can resset the index then concat as well
#df1 = df1.reset_index(drop=True)
#df2 = df2.reset_index(drop=True)

In [ ]:
#concat, use pd.concat([df1, df2], axis=1)

## Merge dataframes

In [ ]:
#create 2 dataframe
#df1 = df.groupby(['Region', 'Order Date'])[['Sales']].mean().reset_index()
#df2 = df.groupby(['Region', 'Order Date'])[['Profit']].mean().reset_index()

In [ ]:
#Merging
# merge left, use df1.merge(df2, how="left")

In [ ]:
#merge on right, use df1.merge(df2, how="right")

In [ ]:
#merging on outer, use df1.merge(df2, how="outer")

## Merge suffixes

In [ ]:
#merging using suffices use, pd.merge(df1, df2, on=['col1', 'col2'])

In [ ]:
#merge on specific similar column use pd.merge(df1, df2, on=df['col1'])

In [ ]:
#merging using both letf and right on,use pd.merge(df1, df2, left_on=['col1'], right_on=['col1'])